/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
    
/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

/* svg nombre */
@import url('https://fonts.googleapis.com/css?family=Lobster');

.text {
  fill: none;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
  stroke: #F2385A;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  stroke: #F5A503;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
  stroke: #E9F1DF;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
  stroke: #56D9CD;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
  stroke: #3AA1BF;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

.logo-nombre {
  background: #111;
  background-size: .2em 100%;
  font: 14.5em/1 "Lobster", Impact;
  text-transform: uppercase;
  margin: 0;
}
.header{
     background: #111;
}


svg {
  width: 100%;
  height: 100%;
}

/* about */
.wrapper {
  padding: 100px;
  width: 500px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.roles {
    font-size: 30px;
    height: 50px;
    vertical-align: middle;
    overflow: hidden;
}

.roles div {
    height: 50px;
    transition: margin-top 1s ease-in-out;
}

/* contact */

.contact {
  padding: 30px 0;
}
.contact .socials {
  list-style-type: none;
  width: 100%;
}
.contact .socials .social {
  width: 20%;
  float: left;
  text-align: center;
}
.contact .socials .social a {
  color: #3d3d3d;
  font-size: 1.5em;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  transition: color .3s;
}
.contact .socials .social .email:hover {
  color: #c8a028;
}
.contact .socials .social .twitter:hover {
  color: #57AEE7;
}
.contact .socials .social .freecodecamp:hover {
  color: #006400;
}
.contact .socials .social .codepen:hover {
  color: #707070;
}
.contact .socials .social .github:hover {
  color: #707070;
}
.contact .clear {
  clear: both;
}

.footer {
  padding: 25px 0;
  text-align: center;
}
.footer p {
  color: #777;
  font-size: 1.1em;
}
.footer i {
  color: #e74c3c;
}

@media screen and (min-width: 640px) {
    .contact .content .socials {
    width: 600px;
    margin: auto;
  }
}


/* New gallery */



@media screen and (min-width: 37.5em) {
  .title {
    font-size: 4.75rem;
  }
}
.project-title{
    margin-bottom: 10%;
    margin-top: 10%;
}

.case-study-gallery {
  margin-top: 50px;
  width: 90%;
  margin: 50px auto;
  max-width: 1100px;
}

.case-study {
  position: relative;
  display: block;
  width: 90%;
  height: 250px;
  margin: 0 auto 2rem;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all .4s ease;
}
@media screen and (min-width: 37.5em) {
  .case-study {
    height: 300px;
  }
}
@media screen and (min-width: 45em) {
  .case-study {
    display: inline-block;
    width: 45%;
    margin-left: 25px;
  }
}

.case-study__img {
  width: 90%;
  display: block;
  margin-top: 50%;
  transform: translateY(50%);
  margin: 0 auto;
}

.case-study__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}
.case-study__overlay:after {
  content: '';
  width: 100%;
  border-radius: 10px;
  height: 100%;
  background-color: #202020;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .3s ease;
}

.case-study__title {
  position: relative;
  top: -200px;
  margin-bottom: 2rem;
  margin-top: 4rem;
  font-size: 2.25rem;
  font-family: 'Oswald';
  font-weight: 100;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}

.case-study__link {
  position: relative;
  display: block;
  width: 60%;
  top: 220px;
  padding: 10px;
  margin: 0 auto;
  font-family: 'Oswald';
  color: white;
  letter-spacing: 3px;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  border-radius: 3px;
  font-size: 1.25em;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}
.case-study__link:hover {
  background-color: white;
  color: #202020;
}

.case-study:hover .case-study__title {
  top: 0;
}
.case-study:hover .case-study__link {
  top: 0;
}
.case-study:hover .case-study__overlay:after {
  opacity: .75;
}

.study1 {
  background-image: url("https://kclasconsultores.com/wp-content/uploads/2017/06/travelagency.jpg");
}

.study2 {
  background-image: url("http://eikonos.com/wp-content/uploads/2016/01/dise%C3%B1o-web-responsive.jpg");
}

.study3 {
  background-image: url("http://www.keshyam.com/wp-content/uploads/2015/11/web-design-babel-software-1.jpg");
}

.study4 {
  background-image: url("http://www.barbieratto.com/wp/wp-content/uploads/2015/11/Barbieratto-Design-2015-07-Diva-Rara-A.jpg");
}

.study5 {
  background-image: url("http://www.mindsetting.be/wp-content/uploads/2017/01/benelux-journal.jpg");
}

.study6 {
  background-image: url("http://www.globalcc.es/images/p1.jpg");
}
